<div class="page">
  <div class="container">

    <header>
      <h1>Create a new project</h1>
    </header>
    <main>
      <div class="form-container">
        <%= form_for @website, url: { action: @submit_action }, html: { class: "form" } do |f| %>
          <div>
            <%= label_tag(:project_name, "Project name") %>
            <%= f.text_field :project_name %>
          </div>

          <div>
            <%= label_tag(:source_repo, "Source repo") %>
            <%= f.text_field :source_repo %>
          </div>

          <div>
            <%= label_tag(:firebase_project_id, "Firebase project ID") %>
            <%= f.text_field :firebase_project_id %>
          </div>

          <div>
            <%= label_tag(:cloudflare_zone_id, "Cloudflare zone ID") %>
            <%= f.text_field :cloudflare_zone_id %>
          </div>

          <div>
            <%= label_tag(:firebase_config, "[DEFAULT] Firebase config JSON") %>
            <%= f.text_area :firebase_config, rows: 10, placeholder: '{
  "apiKey": "",
  "authDomain": "",
  "databaseURL": "",
  "projectId": "",
  "storageBucket": "",
  "messagingSenderId": "",
  "serviceAccountKey": {}
}'
            %>
          </div>

          <div>
            <%= label_tag(:firebase_config_staging, "[STAGING] Firebase config JSON") %>
            <%= f.text_area :firebase_config_staging, rows: 10, placeholder: '{
  "apiKey": "",
  "authDomain": "",
  "databaseURL": "",
  "projectId": "",
  "storageBucket": "",
  "messagingSenderId": "",
  "serviceAccountKey": {}
}'
            %>
          </div>

          <div>
            <%= label_tag(:gatsby_env, "Gatsby environment") %>
            <%= f.text_field :gatsby_env, placeholder: "staging" %>
          </div>

          <div>
            <%= label_tag(:firebase_env, "Firebase environment") %>
            <%= f.text_field :firebase_env, placeholder: "staging" %>
          </div>

          <div>
            <%= label_tag(:environment_variables, "Environment variables") %>
            <%= f.text_area :environment_variables, rows: 10, placeholder: 'API_KEY=' %>
          </div>

          <div><%= f.submit "Save", class: "btn" %></div>

        <% end %>
      </div>
    </main>

  </div>
</div>


